.hero {
  @include wrapper;
  position: relative;
  text-align: center;
  margin-top: -3.5rem;
  background-color: #fff;
  padding: 0 1.5rem 2.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  &__logo {
    // transform: translateY(-50%);
    margin-top: -28px;
    margin-bottom: 0.25rem;
    user-select: none;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__text {
    color: var(--Darkgray);
    font-size: 14px;
    line-height: 1.5;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    user-select: none;
    &--back {
      background-color: var(--ModerateCyan);
      padding: 1rem 1.5rem;
    }
    & span {
      display: none;
    }
  }
  @include from($tablet) {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    margin-top: -6rem;
    &__button {
      transition: background-color 0.3s, opacity 0.3s;
      &--back {
        &:hover {
          background-color: var(--DarkCyan);
        }
      }
      &--bookmark {
        background-color: var(--Darkgray);
        &:hover {
          color: #000;
          opacity: 0.5;
        }
      }
      & span {
        display: inline-block;
        padding: 0 1rem;
      }
    }
  }
}
