.main {
  @include wrapper;
  position: relative;
  text-align: center;
  margin-top: -3.5rem;
  background-color: #fff;
  padding: 0 1.5rem 2.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  &__logo {
    // transform: translateY(-50%);
    margin-top: -28px;
    margin-bottom: 0.25rem;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__text {
    color: var(--Darkgray);
    font-size: 14px;
    line-height: 1.5;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    border-radius: 2rem;
    outline: none;
    &--back {
      background-color: var(--Moderatecyan);
      padding: 1rem 1.5rem;
    }
    & span {
      display: none;
    }
  }
  @include from($tablet) {
    &__button {
      &--bookmark {
        background-color: var(--Darkgray);
      }
      & span {
        display: inline-block;
        padding: 0 1rem;
      }
    }
  }
}
